@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form asp-controller="Account" asp-action="Login" method="post">
        Номер лицевого счета: <input name="Number" type="text" />
        Регион: <select asp-for="Country" asp-items="Model.Countries"></select>
                       Пароль:
    </form>    
</div>
