@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<div class="row">
    <form method="post" action="/Home/Login">
        <table>
            <tr>
                <td>Номер лицевого счета:</td>
                <td><input asp-for="PayerNumber" type="text" /></td>
            </tr>
            <tr>
                <td>Регион:</td>
                <td><select asp-for="RegionId" asp-items="Model.Regions"></select></td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td><input asp-for="PayerPassword" type="password" /></td>
            </tr>
        </table>
        <input type="submit" />
    </form>
</div>